module.exports = {
	config:{
		apiUrl: 'http://wiki.example.net/api.php',
		verbose: true,
		jar: true,
		json: true,
		//silent: false,
		//defaultSummary: 'MWBot',
		//concurrency: 1,
		//sparqlEndpoint: 'https://wiki.example.net/bigdata/namespace/wdq/sparql'
	},
	requet: {
		qs: {
        format: 'json'
    },
    headers: {
        'Authorization': 'Bearer xtXcsCD_zuqCMBXq1pOzZt23CnDWK0BnzzJGVdN43gJ'
    },
    timeout: 120000, // 120 seconds
    jar: true,
    time: true,
    json: true
	},
	credentials :{
		username: "username",
		password: "password"
	}
};

